body {
    margin: 0;
    line-height: inherit;
}
.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
header {
    display: block;
}
div {
    display: block;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid {
    display: grid;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.h-fit {
    height: fit-content;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.ml-auto{
 margin-left: auto;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.gap-10 {
    gap: 2.5rem;
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}
.w-28 {
    width: 7rem;
}
.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.pb-10 {
    padding-bottom: 2.5rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.rounded-2xl {
    border-radius: 1rem;
}
.rounded-3xl {
    border-radius: 1.5rem;
}
.space-y-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.font-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.p-10 {
    padding: 2.5rem;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.pl-10 {
    padding-left: 2.5rem;
}
.list-disc {
    list-style-type: disc;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.border-t-2 {
    border-top-width: 2px;
}
.place-items-center {
    place-items: center;
}
.border-r-2 {
    border-right-width: 2px;
}
.w-12 {
    width: 3rem;
}
.relative {
    position: relative;
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.w-5 {
    width: 1.25rem;
}
.h-5 {
    height: 1.25rem;
}
.-right-2 {
    right: -0.5rem;
}
.-bottom-2 {
    bottom: -0.1rem;
}
.absolute {
    position: absolute;
}
.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.space-x-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
footer {
    display: block;
}
.pr-4 {
    padding-right: 1rem;
}

.block{
    display: block;
}
